@media only screen and (max-width: 700px) {
    .navbar-bottom nav {
        width: fit-content;
    }
}

/* ======================================================= */
.navbar-bottom nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    background-color: #ffa500;
}

.nav-kiri {
    background-color: #ffa500;
}

.navbar-bottom nav li{
    padding: 0px 10px;
    text-decoration: none;
}

.navbar-bottom {
    position: static;
    width:100%; /*mengatur header supaya full width*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa500;
}

.link-navbar-bottom {
    text-decoration: none;
    color: black;
}