@media only screen and (max-width: 700px) {
   #image-div img{
     max-width: 100%;
   }
   .text-deskripsi {
      font-size: 5vw;
      bottom: 450px;
   }
   .text-cover {
      width: 100%;
   }
}  
 /* ========================================================== */
 .text-cover {
    font-size: 9vw;
    top: 4%;
    color: #ffa500;
    position: absolute;
    /* align-items: center; */
    text-align: center;
}

.bg-utama {
    background-position: center;
    text-align: center;
    /* height: 90%; */
    width: 100%;
    /* display: table; */
    /* vertical-align: middle; */
    position: relative;
  }

 #image-div {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    justify-content: center;
 } 

 .text-deskripsi {
    background-color: bisque;
    padding: 3px 15px;
    border-radius: 10px;
    color: #FF0000;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
 