@media only screen and (max-width: 700px) {
   #image-div img{
     max-width: 100%;
   }
   #image-div p{
      top: 232px;
    }
   .text-cover {
      width: 100%;
   }
}  
 /* ========================================================== */
 .text-cover {
    font-size: 9vw;
    top: 4%;
    color: #ffa500;
    position: absolute;
    /* align-items: center; */
    text-align: center;
}

.bg-utama {
    background-position: center;
    text-align: center;
    /* height: 90%; */
    width: 100%;
    /* display: table; */
    /* vertical-align: middle; */
    position: relative;
  }

 #image-div {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    justify-content: center;
 } 

 #image-div p{
    font-size: 5vw;
    color: #FF0000;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 500;
    width: 100%;
    bottom: -200px;
 }