.display-1 {
    text-align: center;
    text-transform: uppercase;
    color: #ffa500;
}

.carousel-caption h5, p {
    /* background-color: white; */
    color: #ffa500;  
}

 .carousel {
     margin: 2%;
 }

 .card-text {
     color: black;
 }

 .card-title {
     text-decoration: none;
     color: #ffa500;
 }