@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ================================================ */
tbody {
  text-align: left;
}

footer {
  padding: 15px;
  font-size: large;
}

footer a {
  text-decoration: none;
}

.footer-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-all nav{
  display: flex;
}

.footer-all img{
  margin: 0px 10px;
}

/* .img-text {
  position: static;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
} */



.full-screen {
  margin: 18% 0% 18% 0%;
  color: red;
}

.deskripsi {
  font-size: xx-large;
}

